/lab5/practice.py
/lab5/practice2.py
/lab6/lab6_code.pdf
/lab6/lab6.txt
/lab6/lab6roughroughwork.py
/lab6/lab6roughwork.py
/lab7/lab7roughwork.py
/lab8/lab8_example_testcases.py
/lab8/lab8_image_utils.py
/lab8/lab8_markus_tests_for_students.py
/lab8/lab8roughwork.py
/lab8/lab8roughroughwork.py
/lab8/PILLOW.pdf
/lab8/test_images.zip
/lab9/lab9_markus_testcases_for_students.py
/lab9/lab9roughwork.py
__pycache__
